<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="icon" href="https://cdnx.jumpseller.com/used/image/25232325/resize/196/196?1655248108"
        type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <section>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">ApiDunas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if 'username' in session and session.get('nivel') != 'pending' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('marinaDunas') }}">Marina Dunas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('marinaHoteles') }}">Marina Hoteles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('revicentro') }}">Revicentro</a>
                    </li>
                    
                    {% if session.get('nivel') in ['admin', 'master'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('avanzado') }}">Avanzado</a>
                    </li>
                    {% endif %}
                    {% if session.get('nivel') == 'master' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('master_function') }}">Función Master</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if 'username' in session %}
                    {% if session.get('nivel') == 'master' %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-info text-white ms-2" href="{{ url_for('admin_users') }}">Admin
                            Usuarios</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <span class="nav-link text-white">Hola, {{ session['username'] }}! (Nivel: {{ session['nivel']
                            if session['nivel'] else 'Pendiente' }})</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('change_password') }}">Cambiar Contraseña</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn ms-2" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-4">
        <div id="notification" class="notification">
    <div class="notification-content">
      <strong id="notification-title"></strong>
      <span id="notification-message"></span>
    </div>
  </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="messages">
            {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer class="footer mt-4">
        <div class="container">
            <p>&copy; 2025 ApiDunas. Todos los derechos reservados.</p>
        </div>
    </footer>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/script_.js') }}"></script>

</body>

</html>