{% extends "base.html" %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Cambiar Contraseña</h2>
        <form method="POST" action="{{ url_for('change_password') }}">
            <div class="mb-3">
                <label for="current_password" class="form-label">Contraseña Actual:</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">Nueva Contraseña:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_new_password" class="form-label">Confirmar Nueva Contraseña:</label>
                <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </form>
    </div>
{% endblock %}